{% extends 'admin/header.html' %}
{% block content %}
<div class="main-panel">
 <div class="content-wrapper">
   <div class="row">
    <center><img src="static/images/welcome.png" style="height:450px;width:850px"></center>
      <div class="col-sm-12">
        <div class="home-tab">
          <div class="tab-content tab-content-basic">
            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
              <div class="row">
               </div>
             </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}