{% extends 'header.html' %}
{% block content %}
<section class="bg-one about section" id="about">
  <div class="container">
	<div class="row">
      <div class="col-12">
		<div class="title text-center wow fadeIn" data-wow-duration="1500ms">
	    	<h2>About <span class="color">Us</span> </h2>
			<div class="border"></div>
		</div>
	 </div>
<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms">
  <div class="block">
	<div class="icon-box">
      <i class="tf-tools"></i>
	</div>
  <div class="content text-center">
    <h3 class="ddd">We're Creative</h3>
	  <p>At Quizzy, creativity is our driving force. We believe in the power of innovative thinking to transform challenges into opportunities.</p>
  </div>
</div>
</div>
<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="250ms">
  <div class="block">
	<div class="icon-box">
	<i class="tf-strategy"></i>
	</div>
<div class="content text-center">
	<h3>We're Professional</h3>
	<p>Join us as we navigate the world of knowledge with finesse and fun. At Quizzy, we don't just quiz – we do it with professionalism!</p>
</div>
</div>
</div>
<div class="col-md-4 text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
  <div class="block kill-margin-bottom">
	<div class="icon-box">
    	<i class="tf-anchor2"></i>
	</div>
	<div class="content text-center">
	  <h3>We're Genius</h3>
	  <p>Whether you're a seasoned quizzer or a casual participant, we're here to ignite your curiosity and prove that, at Quizzy, we're all a little bit genius!</p>
	</div>
  </div>
</div>
</div>
</div> <!-- End container -->
</section> <!-- End section -->
<footer id="footer" class="bg-one">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-lg-12">
				<br>
				<div class="copyright text-center">
					<p class="mt-3">
						 Developed by Riya Ajudiya</p>
				</div>
			</div> <!-- end col lg 12 -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</footer> <!-- end footer -->
{% endblock %}

