{% set active_page="contact" %}
{% extends 'header.html' %}
{% block content %}
<section id="contact-us" class="contact-us section-bg">
  <div class="container">
	<div class="row">
      <div class="col-12">
	    <div class="title text-center wow fadeIn" data-wow-duration="500ms">
			<h2>Get In <span class="color">Touch</span></h2>
			<div class="border"></div>
		</div>
	  </div>

    	<div class="contact-info col-lg-12 wow fadeInUp" data-wow-duration="500ms"></div>
			<div class="contact-form col-lg-6 mt-4 mt-lg-0 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<form id="contact-form" method="post" action="/contact" role="form" class="col-lg-11 offset-lg-7">
				<center><h5><div style="color:green">
					{% if msg!='undefined': %}
						{{msg}}
					{% else %}
						error
					{% endif %}
				</div></h5><br></center>
					<div class="form-group">
						<input type="text" placeholder="Your Name" class="form-control" name="name" id="name" required>
					</div>


					<div class="form-group">
						<input type="email" placeholder="Your Email" class="form-control" name="email" id="email" required>
					</div>

					<div class="form-group">
						<input type="text" placeholder="Subject" class="form-control" name="subject" id="subject" required>
					</div>

					<div class="form-group">
						<textarea rows="6" placeholder="Message" class="form-control" name="message" id="message" required></textarea>
					</div>

					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn1 btn-transparent" value="Submit">
					</div>

				</form>
			</div>
			<!-- ./End Contact Form -->

		</div> <!-- end row -->
	</div> <!-- end container -->



</section> <!-- end section -->

<!-- end Contact Area
========================================== -->
<footer id="footer" class="bg-one">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-lg-12">
				<br>
				<div class="copyright text-center">
					<p class="mt-3">
						 Developed by Riya Ajudiya</p>
				</div>
			</div> <!-- end col lg 12 -->
		</div> <!-- end row -->
	</div> <!-- end container -->
</footer> <!-- end footer -->
{% endblock %}